@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Fasthand&family=Fraunces:opsz,wght@9..144,600&family=Hanken+Grotesk:wght@500;700;800&family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(221, 100%, 96%);
    font-family: 'Hanken Grotesk', sans-serif;
}

.back-div{
    height: 400px;
    width: 600px;
    margin: auto;
    margin-top: 85px;
    display: flex;
}

.white-div{
    background-color: hsl(0, 0%, 100%);
    height: 400px;
    width: 250px;
    display: block;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}


/* LEFT DIV START */
.left-div{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    background-color: hsl(0, 0%, 100%);
    height: 400px;
    width: 250px;
    border-radius: 20px;
}

.result{
    color: hsl(241, 100%, 89%);
    font-size: 15px;
    padding-top: 30px ;
    padding-bottom: 30px ;
    padding-left:85px;
}

.circle-div{
    height: 130px;
    width: 130px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    margin-left: 60px;
    display: block;
}

h3{
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
}

span{
    text-align: center;
    color: hsl(240, 15%, 61%);
    font-size: 14px;
    padding-left: 35%;
    font-weight: bold;
}

.great{
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: lighter;
}

.remarks{
    text-align: center;
    padding: 0px;
    font-size: 12px;
    color: hsl(240, 27%, 77%);
    font-weight: bold;
}
/* LEFT DIV END */



/* RIGHT DIV START */
.right-div{
    background-color: hsl(0, 0%, 100%);
    height: 400px;
    width: 250px;
    display: block;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
}

#summary{
    color:hsl(224, 30%, 27%) ;
    font-weight: bold;
    font-size: 16px;
    padding: 30px 0px 20px 20px;
}
/* RIGHT DIV END */


.modules{
    height: 45px;
    width: 200px;
    margin: 10px 25px 10px 25px;
    border-radius: 5px;
}


/* REACTION DIV START */
#reaction-outer-div{
    background-color: hsl(0, 75%, 84%);
}

.reaction-inner-div{
    display: flex;
    padding-top: 10px;
    font-size: 13px;
    font-weight: bold;
}

#img-reaction{
    padding-left: 10px;
    padding-top: 4px;
}

#reaction-text{
    color:hsl(0, 100%, 67%) ;
    padding-left: 10px;
    padding-top: 5px;
}

#marks{
    color: hsl(224, 30%, 27%);
    padding-left: 50px;
    padding-top: 6px;
    font-size: 12px;
 }

 #tmarks{
    padding: 0px;
    font-size: 12px;
}
/* REACTION DIV END */



/* MEMORY DIV START */
#memory-outer-div{
    background-color:  hsl(39, 70%, 78%);
}

.memory-inner-div{
    display: flex;
    padding-top: 10px;
    font-size: 13px;
    font-weight: bold;
}

#img-memory{
    padding-left: 10px;
    padding-top: 4px;
}

#memory-text{
    color: hsl(39, 100%, 56%);
    padding-left: 10px;
    padding-top: 5px;
}

#marks-memory{
    color: hsl(224, 30%, 27%);
    padding-left: 50px;
    padding-top: 6px;
    font-size: 12px;
 }

 #tmarks-memory{
    padding: 0px;
    font-size: 12px;
}
/* MEMORY DIV END */



/* VERBAL DIV START */
#verbal-outer-div{
    background-color:  hsl(166, 78%, 78%);;
}

.verbal-inner-div{
    display: flex;
    padding-top: 10px;
    font-size: 13px;
    font-weight: bold;
}

#img-verbal{
    padding-left: 10px;
    padding-top: 4px;
}

#verbal-text{
    color: hsl(166, 100%, 37%);
    padding-left: 10px;
    padding-top: 5px;
}

#marks-verbal{
    color: hsl(224, 30%, 27%);
    padding-left: 60px;
    padding-top: 6px;
    font-size: 12px;
 }

 #tmarks-verbal{
    padding: 0px;
    font-size: 12px;
}
/* VERBAL DIV END */



/* VISUAL DIV START */
#visual-outer-div{
    background-color:  hsl(234, 84%, 75%);
}

.visual-inner-div{
    display: flex;
    padding-top: 10px;
    font-size: 13px;
    font-weight: bold;
}

#img-visual{
    padding-left: 10px;
    padding-top: 4px;
}

#visual-text{
    color: hsl(234, 85%, 45%);
    padding-left: 10px;
    padding-top: 5px;
}

#marks-visual{
    color: hsl(224, 30%, 27%);
    padding-left: 60px;
    padding-top: 6px;
    font-size: 12px;
 }

 #tmarks-visual{
    padding: 0px;
    font-size: 12px;
}
/* VISUAL DIV END */


button{
    padding-left: 25px;
    background-color: hsl(224, 30%, 27%);
    width: 200px;
    border: none;
    padding: 10px 60px;
    color: hsl(0, 0%, 100%) ;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    margin: 25px 25px 10px 25px;
}